Text/Washington_Trail.rnc

start= journal

journal= element journal{section+}

section= element section{head*, title*, body*}

head= element head{intro*, p+}

title= element title

body= element body {p+, entry+, closing*}

p= element p 



intro= element intro

person= element person

rank= attribute {'Major'*, 'Governor'*, 'Captain'*, 'General'*}

last= attribute {'Washington'*, 'Grist'*}

first= attribute {'George'+, 'Christopher'*,'Robert'+, 'Jacob'*,'Thomas'*,'Barnaby'*,'John'*,'WILLIAM'*}

place=element place 

placeType= attribute placeType {'river'+, 'city'+, 'colony'+,'ocean'*,'State'*,'lake'*, 'creek'*,'fort'+, 'home'+}

entry=element entry



n= attribute {'n'+}