Text/Washington_Trail.rnc

start= journal

journal= element journal{section+}

section= element section{head*, title*, body*}

head= element head{intro*, p+}

intro= element intro

person= element person {last*, first*, rank*}


rank= attribute {'Major'*, 'Chief'*, 'Governor'*, 'Captain'*}

last= attribute {'Washington'*, 'Grist'*}

first= attribute {'George'*, 'Christopher'*}

place=element place 