Text/Washington_Trail.rnc

start= journal

journal= element journal{section+}

section= element section{head*, title*, body*}

head= element head{intro*, p+}

title= element title {p+}

body= element body {p+, entry+, closing*}

p= element p {date*, name*, people*, person*, place*,speech*, time*}


intro= element intro {person*, year*}

person= element person {place*}

people= element people

peopleType= attribute {'Indians'+}

rank= attribute rank {'Major'+, 'Governor'+, 'Captain'+, 'General'*}

last= attribute {'Washington'*, 'Gist'*, 'Dinwidie'*, 'Van Braam'*, 'Tanacharison'*,
'Jefferson'*,'HUNTER'*,'Currin'*, 'MacQuire'*, 'Shingiss'*, 'Frazier'*, 
'toocha'*, 'Jonscaire'*, 'Jonscaire'*, 'Riparti'*, 'Trotter'*, 'MasClocklan'*, 'Dinwidde'*}

first= attribute {'George'+, 'Christopher'*,'Robert'+, 'Jacob'*,'Thomas'*,'Barnaby'*,'John'*,'WILLIAM'*}

place=element place 

placeType= attribute placeType {'river'+, 'city'+, 'colony'+,'ocean'*,
'State'*,'lake'*, 'creek'*,'fort'+, 'home'+}

entry=element entry


n= attribute {'n'+}